.damage-flash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, transparent 30%, rgba(255, 0, 0, 0.5) 100%);
    pointer-events: none;
    z-index: 15;
    animation: flash 0.2s ease-out;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}